.part-2 {
	padding-top: 255px;
	position: relative;
	overflow: hidden;
	&__title {
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 50px;
		width: 480px;
		text-align: center;
		font-family: 'Gotham Pro', sans-serif;
		color: $color-white;
	}
	&__ice {
		height: 627px;
		width: 1009px;
		background: url($url-img-ice-stone) no-repeat center center;
		position: absolute;
		top: 6%;
		right: -7%;
	}
}